.table > tbody{
    background-color: white;
}

.imagen_footer{
    width: 71px;
    height: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}



.centrarTexto{

    text-align: center;
    color: #B3601C;
}

.imagen_centrada{
    position: absolute; /* podr�a ser relative */
    width: 390px;
    height: 390px;
    left: 100px;
    top: 50px;
}

.pen-title{
    text-align: center;
    padding-bottom: 25px;
}

.logo_footer{
    width: 130px;
}

.paper{
    background: white;
    padding: 20px;
    width: 50%;
    height: 50%;
    border: 1px solid gray;
}
.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    border-color: #FFF;
    border-width: 2px;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #6699CC;
}

.arrowalign {
    top: 50%;
}

.arrowalign:hover {
    vertical-align: middle;
}

.carousel-control {
    color: #fff;
    top: 50%;
    bottom: auto;
    padding-top: 0px;
    width: 30px;
    height: 30px;
    text-shadow: none;
    opacity: 0.9;
}

.margen-superior{
    margin-top: 100px;
}

.active{
    text-align: center;
    left: auto!important;
}

.active > img{
    display: inline!important;
}